@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family: 'Edu NSW ACT Foundation', cursive;
}

html, body{
height : 100%;
width : 100%;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #3714a2, #3917b8, #391acf, #371ee7, #3222ff);
    display: grid;
    place-items: center;
}

.box{
      background-color: white;
      display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
  /* max-width: 150px; */
  border-radius: 20px;
  
}

.box .leftPart{
    background-color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftPart h1{
    font-size: 40px;
}
.box .rightPart{
    background-color: orange;
    border-radius: 20px;
    padding: 60px 30px;
}